<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3 class="championName">{{championData.name}}</h3>
    <div class="champion_container">
        {{#each championData.skins}}
        <div class="champion_box">
        <a href="/champions/{{this.name}}/{{this.nameOfSkin}}"><img class="championImg" src="{{this.skinImg}}"></a>
          <div class="championInfoBox">
            <p class="championInfo"> {{this.nameOfSkin}} </p>
            <p class="championInfo"> <img id="rpLogo"src="/assets/images/rp.png"> {{this.price}} </p>
            <p class="championInfo"> <strong>Release Date:</strong> {{this.releaseDate}}</p>
          </div>
      </div>
        {{/each}}
    <div>
  </body>
</html>
