<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="champion_container">
      <h3 class="championName">{{championData.name}}</h3>
        {{#each championData.skins}}
        <div class="champion_box">
        <a href="/champions/{{this.name}}/{{this.nameOfSkin}}"><img class="championImg" src="{{this.skinImg}}"></a>
      {{this.nameOfSkin}}  RP: {{this.price}} Release Date: {{this.releaseDate}}
      </div>
        {{/each}}
    <div>
  </body>
</html>
