<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{champions}}
    {{champions.Jax.name}}
    {{championPic}}
      {{#each champions }}
    <h3>{{@key}} </h3>
    <img src="http://ddragon.leagueoflegends.com/cdn/6.22.1/img/champion/{{this.image.full}}">
    {{/each}}

  </body>
</html>
