<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{result.name}}
    {{specificSkin}}
    <img src="{{specificSkin.skinImg}}">
    {{specificSkin.price}}
    <a href="/champions/{{result.name}}/{{specificSkin.nameOfSkin}}/spotlight">Skin Spotlight</a>
  </body>
</html>
